.bg-green{
    background-color: #28a745;
}
.img-log{
    width: 100px;
}
.cupon{
    width: 100px;
}
.img_card{

    width: 100%;
    object-fit: cover;
}
.light_text{
    color: #707070;
}
.text-green{
    color: #28a745
}